:root {
    --primary-color: #466365;
    --secondary-color: #D4C5E2;
}


body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

a:hover {
    color: #A7E2E3;

}